h1 {
    text-align: center;
    font-size: 36px;
}

/* .body {
    background-color: rgba(70, 163, 132, 0.639);
} */
.subtitle1 {
    text-align: center;

}
.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.imgRedonda {
    width:300px;
    height:300px;
    border-radius:160px;
    border:10px solid #666;
}